:root{
    --col-blk: #0a0908;
    --col-drk: #22333b;
    --col-crm: #eae0d5;
    --col-bge: #c6ac8f;
    --col-brn: #5e503f;
}
* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.5;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
  }
  
  p {
    margin: 0;
  }

  .header{
    background-color: var(--col-drk);
    color: var(--col-crm);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;    
  }

  .header h1{
    border: 2px solid white;
  }

  .header .nav-bar ul{
    border: 2px solid white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

  }

  .header .nav-bar ul li{
    list-style: none;
    font-size: 20px;
    padding: 5px 20px;
    
  }

  .header .nav-bar ul li a{
    color: inherit;
    text-decoration: none;
  }

  

.hero-banner{
    background-image: url("/assets/images/02-hero-bg.jpg");
    background-size: cover;
    height: 200px;
    opacity: 0.8;
    position: relative;    
}
.hero-text{
    border: 2px solid white;
    background-color: var(--col-crm);
    color: var(--col-drk);
    width: 600px;
    position: absolute;
    top: 130px;
    left: 50%;
    text-align: center;
   
}
.hero-text h2{
     padding: 5px; 
}



